body{
    background-color: yellow;
}


input[type=text]{
    color: white;
    background-color: rgb(113, 148, 89);
    border-radius: 70px;
    border: 4px solid orange;    
}

input[type=date]{
       background-color: rgb(113, 148, 89);
       border: 3px solid orange;
       border-radius: 50px;
}

input[type=number]{
    color: white;
    background-color: rgb(113, 148, 89);
    border-radius: 70px;
    border: 4px solid orange;  
}